:root {
  --background: #f8efda;
  --foreground: #4c533a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8efda;
    --foreground: #4c533a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
